/* 
Привет, Валерия 👋 
Работу поправил и сам нашел дополнительные ошибки и где можно переиспользовать стили

Итого поправил:
1. У первого элемента в хедере сбросил маркер списка
2. Стили подключил в правильном порядке
3. Добавил общую сущность "menu-item-link" для <a> на случай если активная ссылка сменится
4. Сделал общий класc "menu-item" чтобы стилизовать блоки ссылок и переиспользовать в футере. Согласовал с наставником
5. Сделал общий класc "menu-no-circle" в хедере применил на активной, а в футере на всех
6. Классы "header-menu-list" и "footer-menu-list" удалил, так как вместо них за стили отвечает теперь "menu-item" 
7. Удалил пустой класс в <div class>

Спасибо за ревью 🫶 
*/

.header {
    display: grid;
    padding: 90px 50px 96px 50px;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    background-color: #fff;
}

.header-menu {
    display: flex;
    grid-column: 1 / 2;
}

/* Выравниваю блок*/
.header-menu-list {
    display: flex;
    gap: 34px;
}

.menu-item {
/* Теперь этот класс я могу переиспользовать в футтере*/
    list-style-type: circle;
    text-transform: lowercase;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24, 3px;
    color: #000;
    text-underline-offset: 4px;
}



/* выключаю кружок у <li>*/
.menu-no-circle {
    list-style-type: none;
}

/* выключаю подчеркивание у <a>*/
.menu-item-active {
    text-decoration: none;
}

.menu-item-link {
    /* Создал общую сущность для <a>*/
}

.address-link {
    text-underline-offset: 4px;
}

.header-logo {
    display: block;
    width: 134px;
}

.header-logo-image {
    width: 100%;
}

.header-adress {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    justify-self: end;
    gap: 4px 0 ;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24, 3px;
    color: #000;
}

/* секция с главной обложкой*/

.cover {
    width: auto;
    min-height: 757px;
    display: grid;
    flex-direction: row;
    align-items: baseline;
    grid-template-rows: 1fr 118px;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cover-title {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.span {
    display: flex;
    justify-content: start;
    padding: 164px 0 0 50px;
}

.span-center {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 18px 0 0 28px;
}

.span-right {
    display: flex;
    justify-content: end;
    padding: 18px 20px 0 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    grid-template-columns: 1 / -1;
    grid-template-rows: 1 / -1;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.description {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px 0 50px;
    width: 100%;
    color: #fff;
    font-size: 25px;
}

.description-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 1, 9em;
    word-spacing: 20px;
    text-transform: uppercase;
    position: relative;
}

.button {
    display: flex;
    justify-content: end;
    padding: 12px 32px 11px 31px;
    outline: none;
    color: #fff;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

/* ниже секция и карточки на гридах*/

.section-box {
    margin-top: 180px;
    display: block;
    padding: 0 0 27px 64px;
}

/* единый тип для заголовков*/
.section-title-style {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots-list-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 334px);
    list-style: none;
    padding: 0 25px 0 25px;
    gap: 25px;
    text-decoration: none;
}

.card-a {
    text-decoration: none;
}

.card-content {
    width: 334px;
    min-height: 596px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 46px 40px 48px 40px;
    background-size: cover;
    background-position: center;
}

.tiltle-card-new {
    position: relative;
    z-index: 2;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
}

.text-card-new {
    position: relative;
    z-index: 2;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/* ❗Дополнительно секция карточек на flex с wrap ❗

.lots-list-cards-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none; 
    padding: 0 25px 0 25px;
    gap: 24px;
    text-decoration: none;
}

.card-content {
    width: 334px;
    min-height: 596px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px 48px 40px;
    background-size: cover;
    background-position: center;
}

.tiltle-card-new {
    position: relative;
    z-index: 2;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
}

.text-card-new {
    position: relative;
    z-index: 2;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
gap тут 24 вместо 25 у грида, чтобы перенос корректно работал*/

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.button-black {
    display: flex;
    margin-top: 20px;
    padding: 10px 30px 10px 62px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 4px;
    text-transform: lowercase;
}

/* секция about*/

.about {
    margin-top: 108px;
    padding: 0 24px 0 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 360px 1fr;
}

.about-logo {
    margin: 38px 0 0 48px;
    width: 240px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #000;
}

.about-logo-image {
    width: 148px;
    min-height: 240px;
}

.about-title {
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    color: #000;
}

.about-title-card {
    margin-bottom: 70px;
}

.about-text-card {
    padding-top: 28px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
}


/* секция с футером*/

.footer {
    margin-top: 128px;
    display: grid;
    padding: 52px 50px 60px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fff;
}

.footer-adress {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    max-width: 260px;
    gap: 4px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24, 3px;
    color: #000;
}

.footer-menu {
    display: flex;
    justify-content: center;
    grid-column: 2 / 3;
    text-align: center;
}


.footer-social-list-item {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 0 48px;
}

.footer-social-icon {
    width: 48px;
}

.footer-text-decoration {
    text-decoration: none;
}
