/* место для вашего кода */


.header {
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    background-color: #5fb7ff;
}

.header-menu-list {
    display: flex;
    justify-content: center;
    gap: 45px;
    list-style-type: circle;
}

.header-logo {
    display: block;
    width: 148px;
}

.header-logo-image {
    width: 100%;
}

.header-menu-link  .header-menu-item-active {
    text-decoration: none;
}

.header-adress {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    justify-self: end;
    gap: 12px;
}
.cover {
    width: auto;
    height: 500px;
    padding: 40px;
    display: grid;
    flex-direction: row;
    align-items: baseline;
    grid-template-rows: 1fr 100px;
    background-image: url(../images/cover.jpg) 


}

.cover-title {
    color: #fff;
    font-family: 'Raleway' , sans-serif;
    font-weight: 100;
    font-size: 100px;

}

.span{
    display: block;
}

.span-center {
    text-align: center;
}

.span-right{
    text-align: right;
    padding-right: 67px;
}

/* вот эта штука норм получилась можно будет в грид*/
.description {
    display: flex;
    justify-content: space-between;

    padding: 16px;
    width: 100%;
    color: #fff;
    font-size: 25px;

}

.footer {
    display: grid;
    padding: 24px;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(29, 212, 127)
}
