/* место для вашего кода */


.header {
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    background-color: #fff;
}

.header-menu-list {
    display: flex;
    justify-content: center;
    gap: 45px;
    list-style-type: circle;
}

.header-logo {
    display: block;
    width: 148px;
}

.header-logo-image {
    width: 100%;
}

.header-menu-link  .header-menu-item-active {
    text-decoration: none;
}

.header-adress {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    justify-self: end;
    gap: 12px;
}
.cover {
    width: auto;
    height: 500px;
    padding: 40px;
    display: grid;
    flex-direction: row;
    align-items: baseline;
    grid-template-rows: 1fr 100px;
    position: relative;
    background-image: url(../images/cover.jpg) 


}

.cover-title {
    color: #fff;
    font-family: 'Raleway' , sans-serif;
    font-weight: 100;
    font-size: 100px;
    display: block;
    position: relative;
    z-index: 2;

}

.span{
    display: block;

}

.span-center {

    text-align: center;
}

.span-right{

    text-align: right;
    padding-right: 67px;
}

.overlay-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    grid-template-columns: 1 / -1;
    grid-template-rows: 1 / -1;
    background-color: rgba(0, 0, 0, 0.6); /* Черный цвет с прозрачностью 60% */
    z-index: 1;
}


/* вот эта штука норм получилась можно будет в грид*/
.description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    padding: 16px;
    width: 100%;
    color: #fff;
    font-size: 25px;
}


.button {
    padding: 20px 20px 20px;
    outline: none; 
    color: #fff;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
}


/* ниже секция с карточками*/

/* грид с тремя строками и тремя колонками. Сделаю в хераре заголовок, в середине карточки, а в футере кнопку */
.lots {
    width: 100%;
	height: 723px;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(3, min-content);
    align-items: flex-start;
    justify-content: flex-start;
}

.lots-title {
    grid-row: 1;
    grid-column: 1 / 3;
    align-self: flex-start;
}

.lots-left-span {
    display: block;
}

.lots-card {
    grid-row: 2;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    list-style: none;
    align-self: flex-end;
}


.card {
    position: relative;
    width: 340px;
    height: 596px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Вырезал фон отсюда*/
    list-style: none;
    border: 5px solid #000000;
}


.card-type-film {
    width: 100%;
    height: 100%;
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
    /* по заданию нужен тег артикль, но в итоге получилось лишняя вложенность и лишние классы — как этот например*/
}

.lots-title-card {
    /*Тут стилёчки для всех заголовков карточек + их расположение внутри карточки*/
    padding: 24px;
    z-index: 2;
    position: relative;
    color: #fff;
}


.lots-text-card {
    /*Тут стилёчки для всех текстов карточек + их расположение внутри карточки*/
    padding: 24px;
    z-index: 2;
    position: relative;
    color: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Черный цвет с прозрачностью 60% */
    z-index: 1;
}

.card-type-book {
    width: 100%;
    height: 100%;
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
    /* по заданию нужен тег артикль, но в итоге получилось лишняя вложенность и лишние классы — как этот например*/
}


.card-type-picture {
    width: 100%;
    height: 100%;
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    /* по заданию нужен тег артикль, но в итоге получилось лишняя вложенность и лишние классы — как этот например*/
}


.button-lots {
    grid-row: 3;
    grid-column: 1 ;
    align-self: flex-start;
}

/* секция about*/

.about {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(3, min-content);
    align-items: flex-start;
    justify-content: flex-start;
}

.about-logo {
    grid-row: 1;
    grid-column: 1;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 600px;
    background-color: #000000;
}

.about-logo-image {
    width: 148px;
    height: 100%;
}

.about-title {
    grid-row: 1;
    grid-column: 2 / 5;
}

.about-text {
    grid-row: 2;
    grid-column: 2 / 5;
}

/* ниже секция с футером*/

.footer {
    display: grid;
    height: 600px;
    padding: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(29, 212, 127)
}

.footer-adress {
    grid-column: 1 / 2;
    max-width: 240px;
}

.footer-menu {
    display: flex;
    justify-content: center;
    grid-column: 2 / 3;
}

.footer-menu-list {
    list-style-type: none;
    text-align: center;
}


.footer-social-list-item {
    list-style-type: none;
    display: flex;
    justify-content: end; 
    gap: 24px;
}


.footer-social-icon {
    width: 48px;
}